---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Self-taught software developer. Knowledgeable of various programming languages, frameworks, and databases. Software engineering bootcamp graduate. Level 4 software development apprenticeship student.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Level 4 Software Developer Apprenticeship Student"
      subtitle="2022 to 2024 at Makers Academy, UK"
    />
    <TimeLineElement
      title="Software Engineering Bootcamp Graduate"
      subtitle="June to October 2022 at Makers Academy, UK"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Developer Apprentice"
      subtitle="From 2022 to Present at OpenBet, UK"
      desc="Part of the Promotions team. Working for a range of clients on the back end to implement bespoke software as per their requirements. Technologies and software: Java, TCL, Informix, Template Player, BitBucket, Docker, Postman."
    />
    <TimeLineElement
      title="Trainee Quantity Surveyor"
      subtitle="From 2021 to 2022 at Mackley, UK"
      desc="Part of the Financial team. Working on a range of projects across the South Eash Coast of England to ensure that they are staying within budget, identifying new opportunities for increasing profit margins, and dealing with invoices and applications for payment. Skills: attention to detail, maths knowledge, analytical thinking, knowledge of building and construction, ability to use own initiative."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li> Software Engineering Bootcamp Graduate
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Romanian (Native)</li>
    <li>English</li>
    <li>JavaScript</li>
    <li>Ruby</li>
    <li>Java</li>
    <li>TCL</li>
    <li>RSpec</li>
    <li>Selenium</li>
    <li>Jest</li>
    <li>Informix</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Miro</li>
    <li>Web Design</li>
  </ul>
</BaseLayout>
