---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
  title="Tic Tac Toe"
  img="/tic_tac_toe.webp"
  desc="Tic Tac Toe is a simple application that emulates the functionality of the Tic-Tac-Toe paper-and-pencil game. The objective of this app was to be able to practice factory functions in JavaScript."
  url="https://razvanbugoi.github.io/TOP-tic-tac-toe/src/index.html"
  badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Private Library"
  img="/library_project.webp"
  desc="Private Library is a project that allow users to create their own online books library. The objective of this app was to get myselft confortable using the object constructor in JavaScript."
  url="https://razvanbugoi.github.io/top-library/src/index.html"
  />

</BaseLayout>
